@model BeestjeOpJeFeestje.Models.BookingViewModel

@{
    ViewBag.Title = "Bevestiging";
}

@using (Html.BeginForm("ConfirmBooking", "Bookings", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="progressbar">
            <ul>
                <li class="active">Beestjes kiezen</li>
                <li class="active">Accessoires kiezen</li>
                <li class="active">Contact gegevens</li>
                <li class="active">Bevestiging</li>
            </ul>
        </div>
    </div>

    <div class="container-fluid">
        <div id="first">
            <div id="background">
                <h5>Stap 4 - Controleer je gegevens</h5>
            </div>
            <div id="inner">
                <div id="Contact">
                    <h3>Contact gegevens:</h3>
                    <span>@Model.Customer.Name </span>
                    <span>@Model.Customer.Insertion </span>
                    <span>@Model.Customer.LastName</span>
                    <p>@Model.Customer.Email</p>
                    <p>@Model.Customer.Adres</p>
                    <p>@Model.Customer.Phonenumber</p>
                </div>
                <div id="Price">
                    <h3>Prijs:</h3>
                    <ul>
                        @foreach (var animal in Model.Booking.Animals)
                        {
                            <li>@animal.Name, @animal.Price</li>
                        }
                        @foreach (var acc in Model.Booking.Accessories)
                        {
                            <li>@acc.Name, @acc.Price</li>
                        }
                    </ul>
                </div>
                <div id="Discount">
                    <h3>Korting:</h3>
                    <ul>
                        @if (Model.DiscountDuck != 0)
                        {
                            <li>Eend: @Model.DiscountDuck%</li>
                        }
                        @if (Model.DiscountTypes != 0)
                        {
                            <li>3 types: @Model.DiscountTypes%</li>
                        }
                        @if (Model.DiscountDay != 0)
                        {
                            <li>@Model.Booking.Date.DayOfWeek: @Model.DiscountDay%</li>
                        }
                        @if (Model.DiscountName != 0)
                        {
                            <li>Naam: @Model.DiscountName%</li>
                        }
                    </ul>
                </div>
                <h4>Totaal: $@Model.Booking.Payment</h4>
                @Html.HiddenFor(model => model.Booking.Id)
                @Html.HiddenFor(model => model.Booking.Date)
                @Html.HiddenFor(model => model.Booking.Animals)
                @Html.HiddenFor(model => model.Booking.Accessories)
                @Html.HiddenFor(model => model.Customer.Id)
                @Html.HiddenFor(model => model.Customer.Name)
                @Html.HiddenFor(model => model.Customer.Insertion)
                @Html.HiddenFor(model => model.Customer.LastName)
                @Html.HiddenFor(model => model.Customer.Email)
                @Html.HiddenFor(model => model.Customer.Adres)
                @Html.HiddenFor(model => model.BookingAnimals)
                @Html.HiddenFor(model => model.BookingAccessories)
                @for (int i = 0; i < Model.Accessories.Count(); i++)
                {
                    @Html.HiddenFor(model => model.Accessories[i].Id)
                    @Html.HiddenFor(model => model.Accessories[i].Name)
                    @Html.HiddenFor(model => model.Accessories[i].Price)
                }
                <input type="submit" value="Boeking bevestigen" class="btn btn-default" />
            </div>
        </div>
        <div id="second">
            <div id="background">
                <h5>Boeking</h5>
            </div>
            <div id="inner">
                <h6>
                    <span>
                        Datum: @Model.Booking.Date.ToShortDateString()
                    </span>
                </h6>
                <h6>@Model.Booking.Id</h6>
                <h6>Beestjes</h6>
                @for (int i = 0; i < Model.Booking.Animals.Count(); i++)
                {
                    <img class="card-img-top" src="@Url.Content(@Model.Booking.Animals.ElementAt(i).Image)" height="50" />
                }
                <h6>Accesoires</h6>
                <ul>
                    @foreach (var acc in Model.Booking.Accessories)
                    {
                        <li>@acc.Name</li>
                    }
                </ul>
            </div>
        </div>
    </div>
}

<style>
    .container-fluid {
        width: 100%;
        overflow: hidden;
    }

    #first {
        width: 65%;
        float: left;
        border: 0.5px solid black;
    }

    #inner {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
    }

    #second {
        width: 30%;
        border: 0.5px solid black;
        float: right;
    }

    #background {
        background: lightgray;
    }

    .progressbar {
        counter-reset: step;
    }

        .progressbar li {
            list-style-type: none;
            width: 25%;
            float: left;
            font-size: 12px;
            position: relative;
            text-align: center;
            text-transform: uppercase;
            color: #7d7d7d;
        }

            .progressbar li:before {
                width: 30px;
                height: 30px;
                content: counter(step);
                counter-increment: step;
                line-height: 30px;
                border: 2px solid #7d7d7d;
                display: block;
                text-align: center;
                margin: 0 auto 10px auto;
                border-radius: 50%;
                background-color: white;
            }

            .progressbar li:after {
                width: 100%;
                height: 2px;
                content: '';
                position: absolute;
                background-color: #7d7d7d;
                top: 15px;
                left: -50%;
                z-index: -1;
            }

            .progressbar li:first-child:after {
                content: none;
            }

            .progressbar li.active {
                color: green;
            }

                .progressbar li.active:before {
                    border-color: #55b776;
                }

                .progressbar li.active + li:after {
                    background-color: #55b776;
                }
</style>
